.btn-container > * {
  margin: 2.5px;
}

.btn-container-input > * {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.messages-window {
  margin-top: 2.5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  min-height: 300px;
  max-height: 300px;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin: 0px;
}

.message-user {
  background-color: rgba(0,0,0,0.1);
}

.message-guest {
  background-color: rgba(0,0,0,0.2);
}
